---
import Layout from '../layouts/Layout.astro';
import Hero from  '../components/layouts/Hero.astro';
import ProblemSolved from '../components/layouts/ProblemSolved.astro';
import Features from '../components/layouts/Features.astro';
import Testimonials from '../components/layouts/Testimonials.astro';
import Footer from '../components/layouts/Footer.astro';

const title = "MySubs – Application de gestion d’abonnements et dépenses";
const description = "Gère tous tes abonnements facilement : alertes avant prélèvement, calcul automatique de tes dépenses et accès à plus de 120 services. Fini les mauvaises surprises.";
const canonicalUrl = "https://mysubs.app";
---

<Layout 
  title={title} 
  description={description}
  canonicalUrl={canonicalUrl}
>
  <Hero />
  <main id="main-content">
    <ProblemSolved />
    <Features />
    <Testimonials />
  </main>
  <Footer />
</Layout>
